recursive-include assets *.xcf
recursive-include docs Makefile make.bat *.py *.rst *.png *.ico
include LICENSE
include MANIFEST.in
include README.rst
include setup.py
recursive-include pydenticon *.py
recursive-include tests *.py *.png
prune docs/_build
exclude tmp/
